<div class="container-show">

  <h1><%= @cocktail.name %></h1>

  <% @cocktail.doses.each do |dose| %>
    <div class="dose-container">
      <p><%= dose.ingredient.name %> - <%= dose.description %>   <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Confirm delete?" }, class: "btn btn-ghost"  %> </p>
    </div>
  <% end %>


  <div>
    <h3><%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail.id), class: "btn btn-ghost"%></h3>
  </div>

</div>



<!--
<div>
  <%#= link_to 'Back to cocktails list', cocktails_path, class: "btn btn-ghost" %>
</div> -->

<!-- <p>Find me in app/views/cocktails/show.html.erb</p>
